body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Regular', Arial, sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 2em;
    background-color: rgba(36, 36, 36, 0.98);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 0px;
}

.header_box_1 p {
    font-size: 2.5em;
    margin: 0;
}

.header_box_2 {
    display: flex;
    align-items: center;
}

.header_box_2 a {
    background-color: rgb(22, 22, 22);
    width: 150px;
    height: 50px;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.4s;
    box-shadow: 2px 2px 5px black;
}

.header_box_2 a:hover {
    width: 160px;
    height: 60px;
    background-color: black;
}

.header_box_2 .line {
    width: 5px;
    height: 50px;
    background-color: aliceblue;
    margin: 0 5px;
}

.content {
    display: flex;
    width: 100vw;
    gap: 1em;
    margin-bottom: 2em;
}

aside {
    width: 35.5em;
    background-color: rgba(36, 36, 36, 0.98);
    border-radius: 0 2em 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(0,0,0,0.7) 0 0 0 5px;
    margin-left: 0;
    padding: 1em 1em 1em 0em;
    overflow: visible;
    position: relative;
}

.project1, .project2, .project3 {
    background-color: rgb(22, 22, 22);
    transition: 0.4s;
    width: calc(100% - 2em);
    height: 20em;
    border-radius: 0 2em 2em 0;
    transition: transform 0.4s;
    padding: 1em;
    box-shadow: 2px 2px 8px black;
    position: relative;
    left: 0;
}

.project1:hover, .project2:hover, .project3:hover {
    background-color: black;
    transition: 0.4s;
    transform: translateX(10px) scale(1.05);
    z-index: 1;
}

main {
    flex: 1;
    background-color: rgba(36, 36, 36, 0.98);
    border-radius: 2em 0 0 2em;
    padding: 1em;
    box-shadow: rgba(0,0,0,0.7) 0 0 0 5px;
    overflow: hidden;
}

footer {
    background-color: rgba(36, 36, 36, 0.98);
    padding: 20px 40px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.7) 0 0 0 5px;
    margin-top: 2em;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }
    aside, main {
        width: 100%;
        border-radius: 1em;
        margin-left: 0;
    }
    .header_box_2 {
        flex-wrap: wrap;
    }
}
